Source: genx3
Section: scientific
Priority: extra
Maintainer: Artur Glavic <artur.glavic@psi.ch>
Standards-Version: 3.8.1
Homepage: http://genx.sourceforge.net/

Package: genx
Architecture: all
Depends: python3, python3-numpy, python3-scipy, python3-matplotlib, python3-appdirs, python3-pil, python3-h5py, python3-wxgtk4.0, python3-numba, python3-requests, python3-docutils
Description: X-ray and Neutron reflectivity simulation and fitting using differential evolution
